.products{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: center;
    align-items: center;
}

.eachProduct{
    width: 400px;
    height: 250px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    justify-content: center;
    align-items: center;
}


.btn{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5d2d3;
    cursor: pointer;
    font-weight: 700;
}

.btn:hover{
    background-color: #f7e1d3;
}

.btn-link{
    text-decoration: none;
    color: inherit;
}